body {
  /* 기본(공통)스타일 */  
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
  /* color: #333;   */
}

a{
  /* 밑줄 제거 */
  text-decoration: none;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* 가운데 정렬 */
  width: 1723px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  background-color: #EEDAB8;
  /* background-color: rgb(255, 255, 255); */
}
img {
  /* 이미지가 인라인 요소라서 발생하는 문자기준선(baseline) 아래의 공간을 제거하기위해 
  img를 레이아웃 요소로 쓰기위해*/
  display: block;
}

header {
  /* background-color: #EEDAB8; */

  /* 고정된 헤더 만들기*/
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9; 
}
header .logo {
  /* position: absolute;
  top: 10%;
  left: 4%; */
}
header h1 {
  font-size: 35px;
  font-weight: 600;
  color: #DBAC5B;  
}
/* 메인 메뉴 */
header .main--menu {
  /* position: absolute;
  top: 25px;
  left: 32%; */
}

header .main--menu > ul {
  display: flex;
}

header nav > ul > li {
  margin: 0 30px;
  position: relative;
}
header nav > ul > li > a:hover {
  color: #DBAC5B;
}
header nav > ul > li > a {
  color: #3F3F3F;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 24px;
}
/* 드롭다운 */
.sub-menu {
  position: absolute;
  top: 51px;
  background-color: #EEDAB8;
  z-index: 1;  
}
.sub-menu > li {
  color: #3F3F3F;
  padding: 5px 12px;
}

header .btn {
  /* position: absolute;
  top: 30%;
  right: 5%; */
}
header .btn span {
  font-size: 30px;
  cursor: pointer;
  padding: 0 10px;
}

.main {
  position: relative;
}
.image__item{
  max-width: 100%;  
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  
}

.main img {
  width: 1903px;
  height: 850px;
  opacity: .8; 

}