body {
  /* 기본(공통)스타일 */
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

a {
  /* 밑줄 제거 */
  text-decoration: none;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1723px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
}
img {
  /* 이미지가 인라인 요소라서 발생하는 문자기준선(baseline) 아래의 공간을 제거하기위해 
  img를 레이아웃 요소로 쓰기위해*/
  display: block;
}

header {
  background-color: #eedab8;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header h1 {
  font-size: 45px;
  font-weight: 900;
  color: #dbac5b;
}
/* 메인 메뉴 */

header .main--menu > ul {
  display: flex;
}

header nav > ul > li {
  margin: 0 30px;
  position: relative;
}
header nav > ul > li > a:hover {
  color: #dbac5b;
}
header nav > ul > li > a {
  color: #3f3f3f;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 24px;
}

/* 드롭다운 */
header nav > ul > li:hover .sub-menu {
  display: block;
}

.sub-menu {
  width: 100%;
  position: absolute;
  top: 45px;
  z-index: 1;
  display: none;
}
.sub__inner {
  width: 500px;
  position: absolute;
}

.sub__inner > ul {
  position: absolute;
  background-color: #eedab8;
  border-radius: 0 0 4px 4px;
  z-index: 1;
  margin: 0 10px;
}

.sub__inner ul > li {
  margin: 5px 5px;
  text-align: center;
}

.sub__inner ul > li > a {
  color: #3f3f3f;
  font-size: 14px;
  font-weight: 540;
}
.sub__inner > ul > li:hover {
  color: #dbac5b;
  cursor: pointer;
}
.sub__inner h4 {
  font-weight: 550;
  color: brown;
}

header .btn span {
  font-size: 30px;
  cursor: pointer;
  padding: 0 10px;
}

/* contents 1 */
.main {
  position: relative;
  text-align: center;
}
.image__item {
  height: 750px;
  background-image: url("/images/visual1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}
.image__item > img {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 375px;
  right: 375px;
}

/* cafe place */

.cafe__contents {
  overflow: hidden;
  position: relative;
  background-color: #eedab8;
}
.cafe__contents > .inner {
  width: 1723px;
  margin: 0 auto;  
  display: flex;
}
.title {
  width: 200px;
  height: 50px;
  position: absolute;
  margin: 50px auto;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid #3f3f3f;

}
.title > h4 {
  font-size: 25px;
  font-weight: 600;
  color: #3f3f3f;
  cursor: pointer;
}

.material-symbols-rounded {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(204, 133, 2);
  cursor: pointer;
}
.swiper {
  width: 50%;
  margin-top: 130px;
}
.swiper-slide:hover img{
  opacity: .5;
}
.swiper-slide p {
  position: absolute;
  margin: 0 auto;
  top: 35%;
  left: 25%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #3f3f3f;
  display: none;
}
.swiper-slide-active:hover p {
  display: block !important;
  background-color: #f0dab7;
  border-radius: 10px;
}
.cafe__contents img {
  width: 600px;
  height: 600px;
}
.box {
  width: 50%;
  margin-top: 100px;
  right: 0;
}

/* diary */
.diary {
  background-color: #eedab8;
}
.diary > .inner {
  width: 1723px;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.content {
  width: 50%;
  margin-top: 10%;
}
.content > img {
  width: 600px;
  height: 600px;
  border-radius: 20px;
}

.text__box {
  position: absolute;
  margin: 0 auto;
  left: 55%;
}
.text__content > h4 {
  font-size: 50px;
  font-weight: 600;
  color: #dbac5b;  
  border-bottom: 1px solid #3f3f3f;
}
.text__content p {
  margin-top: 20px;
  font-size: 30px;
  color: #3f3f3f;
}
.btn__group {
  position: absolute;
}
.btn__group > input {
  height: 25px;
  background-color: #faf8eb;
  border: 1px solid #faf8eb;
  color: #3f3f3f;
  border-radius: 10px; 
  font-weight: 600;
  cursor: pointer;
}
.btn__group > input:first-child {
  margin-right: 30px;
}
.btn__group {
  margin-top: 25px;
}